<div class="example-wrapper" id="genre_add">

    <h2 class="text-center m-5">Ajouter un Genre Musical</h2>

    {{ form_start(form, { 'attr': {'action': path('music_add') } }) }}
    {{ form_row(form.name) }}
        <div class="mt-4">
            <a class="btn btn-info">Annuler</a>
            <button class="btn btn-success">Ajouter</button>
        </div>
    {{ form_end(form)}}
</div>
